tgcrypto
asyncio
ffmpeg-python
git+https://github.com/ABHI-xd/calls@master
pyrogram
youtube-search-python
git+https://github.com/JorDenXD/download@master
lyricsgenius

youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget

